@model Red_System.Models.ProfiloProfessoreModel

@{
    Layout = "~/Views/Shared/_LayoutProfessore.cshtml";
}

<div class="text-center">

    <br />
    <br />
<h2 >Benvenuto/a</h2>
<br />
<h1>@Model.Professore.Nome @Model.Professore.Cognome</h1>

</div>