@using Red_System.Models.Entities;
@model Red_System.Models.ProfessoreSelezionaClasseVisualizzaPunteggioModel
@{
    Layout = "~/Views/Shared/_LayoutProfessore.cshtml";
}


<div class="wrapper fadeInDown">
    <div id="formContent">

        @using (Html.BeginForm("ProfessoreSelezionaClasseVisualizzaPunteggio", "Reserved", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br />
            <br />
            <div class="row" style="padding-left:30%">
                <div class="col-md-offset-2 col-md-4">
                    <div class="form-group">
                        @Html.DropDownListFor(t => t.ClasseSelectedValue, Model.ListaSelectClasse, "Seleziona la classe")
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row" style="padding-left:40%">
                <div class="col-md-offset-4 col-md-4">
                    <input id="send" type="submit" value="@Model.LabelButtonSend" class="btn btn-danger" />
                </div>
            </div>
        }

    </div>
</div>
