<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Red System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
            <div class="container text-center">
                <a href="~/Reserved/HomeProfessore/@(((Red_System.Models.Entities.Professore)Session["utenteLoggato"]).ID)"><button type="button" class="btn btn-danger">Pagina principale</button></a>
                <a href="~/Reserved/ProfessoreInsertClasse/@(((Red_System.Models.Entities.Professore)Session["utenteLoggato"]).ID)"><button type="button" class="btn btn-danger" >Inserisci classe</button></a>
                <a href="~/Reserved/ProfessoreInsertStudente/@(((Red_System.Models.Entities.Professore)Session["utenteLoggato"]).ID)"><button type="button" class="btn btn-danger" >Inserisci studente</button></a>
                <a href="~/Reserved/ProfessoreInsertVerifica/@(((Red_System.Models.Entities.Professore)Session["utenteLoggato"]).ID)"><button type="button" class="btn btn-danger" >Inserisci verifica</button></a>
                <a href="~/Reserved/ProfessoreSelezionaVerifica/@(((Red_System.Models.Entities.Professore)Session["utenteLoggato"]).ID)"><button type="button" class="btn btn-danger" >Seleziona verifica</button></a>
                <a href="~/Reserved/ProfessoreAssegnaVerifica/@(((Red_System.Models.Entities.Professore)Session["utenteLoggato"]).ID)"><button type="button" class="btn btn-danger">Assegna Verifica</button></a>
            </div>
            <br />
            <br />
            <div class="text-center center-block">
            @RenderBody()
            </div>
</body>
</html>