<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="~/Reserved/HomeProfessore/@(((Red_System.Models.Entities.Admin)Session["utenteLoggato"]).ID)"><button>Pagina principale</button></a>
        <a href="~/Reserved/ProfessoreInsertClasse/@(((Red_System.Models.Entities.Admin)Session["utenteLoggato"]).ID)"><button>Inserisci classe</button></a>
        <a href="~/Reserved/ProfessoreInsertStudente/@(((Red_System.Models.Entities.Admin)Session["utenteLoggato"]).ID)"><button>Inserisci studente</button></a>
        <a href="~/Reserved/HomeProfessore/@(((Red_System.Models.Entities.Admin)Session["utenteLoggato"]).ID)"><button>Inserisci verifica</button></a>
        @RenderBody()
    </div>
</body>
</html>