<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            <a href="LoginProfessore"><button>Professore</button></a>
        </div>
        <div>
            <button>Studente</button>
        </div>
    </div>
</body>
</html>
