<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            <a href="~/Home/LoginProfessore"><button type="button" class="btn btn-lg btn-danger btn-block">Sono un professore</button></a>
        </div>
        <br />
        <br />
        <div>
            <a href="~/Home/LoginStudente"><button type="button" class="btn btn-lg btn-info btn-block">Sono uno studente</button></a>
        </div>
    </div>
</body>
</html>
    