body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-fixed-left .navbar-nav > li {
  width: 139px;
}

li{
    margin : 15px 0;
}

body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 16px;
}

    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align:center;
}

a:hover {
    text-decoration: none;
}
a{
    text-decoration: none;
}

#form-content
{
    text-align:center;
    align-content:center;

}
#send {
    position: fixed;
    bottom: 0;
    margin-bottom: 5%;
    text-align: center;
}